
@model CalendarDate
<h2>Single day @Model.Day @Model.Month</h2>
@using (Html.BeginForm("Save", "SingleEvent", FormMethod.Post)) 
{
  @Html.HiddenFor(m => m.Day)
  @Html.HiddenFor(m => m.Month)
    <p>Time<input size="30" type="text" style="margin-left:45px" name="mydate" id="mydate" /> </p> <br/>
     <p>Description<input size="30" type="text" name="mydescription" id="mydescription"  /> </p> <br/>
   <input type="submit" value="Save"  />
}
<a href='@Url.Action("SingleDay", "SingleDay", new { day = @Model.Day, month = @Model.Month })'><input type='button' runat='server' style="width:100px; text-align:left; padding=0px; vertical-align=top;" value='Cancel'</a>





